* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background: url(/Assets/Valentine/received_878877070626634.jpeg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
}

p {
    color: white;
}

#btn1 {
    position: absolute;
}